.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffcccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    color: #ff3366;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #ff3366;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.submitbtn {
    background-color: #ff3366;
    color: #fff;
    cursor: pointer;
}

.submitbtn:hover {
    background-color: #cc0033;
}
